.header {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
  margin-bottom: 80px;
  border-bottom: 1px solid black;
}

.account {
  flex: 1;
  text-align: right;

  .logout {
    margin-left: 20px;
    color: blue;
    font-weight: 500;
    font-size: small;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .highlight {
    margin-right: 10px;
    padding: 4px 10px;
    border-radius: 4px;
    background: #00000015;
  }
}

.tabs {
  .tab {
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      color: blue;

      &:hover {
        opacity: 1;
      }
    }

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}
